In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np

In [2]:
data = pd.read_csv('diabetes_data.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
data.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
data.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
X = data[['Glucose', 'Age','BloodPressure']]
Y = data['Outcome']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,train_size=0.7,random_state=100)

In [8]:
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [9]:
X_test.head(10)

     Glucose  Age  BloodPressure
173       79   23             60
253       86   25             68
207      162   52            104
737       65   42             72
191      123   40             70
754      154   45             78
159      163   47             72
448      104   22             64
359      196   29             76
651      117   27             60

In [10]:
model.predict(X_test)

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0], dtype=int64)

In [11]:
model.predict_proba(X_test)

array([[0.93305872, 0.06694128],
       [0.91068302, 0.08931698],
       [0.22299975, 0.77700025],
       [0.93370008, 0.06629992],
       [0.62797465, 0.37202535],
       [0.31613466, 0.68386534],
       [0.23727643, 0.76272357],
       [0.84902283, 0.15097717],
       [0.12916249, 0.87083751],
       [0.75019632, 0.24980368],
       [0.91760514, 0.08239486],
       [0.18762189, 0.81237811],
       [0.64898749, 0.35101251],
       [0.83050307, 0.16949693],
       [0.22563149, 0.77436851],
       [0.83462662, 0.16537338],
       [0.87377132, 0.12622868],
       [0.7394915 , 0.2605085 ],
       [0.57993673, 0.42006327],
       [0.88977135, 0.11022865],
       [0.68463381, 0.31536619],
       [0.95049584, 0.04950416],
       [0.32054289, 0.67945711],
       [0.09707484, 0.90292516],
       [0.90786919, 0.09213081],
       [0.59100449, 0.40899551],
       [0.60840775, 0.39159225],
       [0.60248783, 0.39751217],
       [0.89994973, 0.10005027],
       [0.24630253, 0.75369747],
       [0.9329581 , 0.0670419 ],
       [0.06431015, 0.93568985],
       [0.93582296, 0.06417704],
       [0.26641458, 0.73358542],
       [0.89759837, 0.10240163],
       [0.5978384 , 0.4021616 ],
       [0.15137546, 0.84862454],
       [0.84446873, 0.15553127],
       [0.85664843, 0.14335157],
       [0.73101472, 0.26898528],
       [0.82030663, 0.17969337],
       [0.21416105, 0.78583895],
       [0.78685949, 0.21314051],
       [0.8282632 , 0.1717368 ],
       [0.53933147, 0.46066853],
       [0.06355643, 0.93644357],
       [0.68967585, 0.31032415],
       [0.78566972, 0.21433028],
       [0.29094351, 0.70905649],
       [0.1832905 , 0.8167095 ],
       [0.91800601, 0.08199399],
       [0.83157382, 0.16842618],
       [0.58457176, 0.41542824],
       [0.25083179, 0.74916821],
       [0.55955191, 0.44044809],
       [0.31878233, 0.68121767],
       [0.83002082, 0.16997918],
       [0.87251307, 0.12748693],
       [0.15582821, 0.84417179],
       [0.8912522 , 0.1087478 ],
       [0.78909144, 0.21090856],
       [0.82047927, 0.17952073],
       [0.66693324, 0.33306676],
       [0.73144459, 0.26855541],
       [0.6089256 , 0.3910744 ],
       [0.74067872, 0.25932128],
       [0.79280165, 0.20719835],
       [0.92685781, 0.07314219],
       [0.80635973, 0.19364027],
       [0.90084792, 0.09915208],
       [0.94095705, 0.05904295],
       [0.37419532, 0.62580468],
       [0.62696992, 0.37303008],
       [0.76235193, 0.23764807],
       [0.86086926, 0.13913074],
       [0.69984205, 0.30015795],
       [0.67125136, 0.32874864],
       [0.38261539, 0.61738461],
       [0.79761889, 0.20238111],
       [0.77539223, 0.22460777],
       [0.7056718 , 0.2943282 ],
       [0.82921033, 0.17078967],
       [0.88310574, 0.11689426],
       [0.71962452, 0.28037548],
       [0.7366702 , 0.2633298 ],
       [0.40020097, 0.59979903],
       [0.63840483, 0.36159517],
       [0.49169074, 0.50830926],
       [0.46821146, 0.53178854],
       [0.48713026, 0.51286974],
       [0.5622034 , 0.4377966 ],
       [0.82294698, 0.17705302],
       [0.53891581, 0.46108419],
       [0.69773712, 0.30226288],
       [0.74195553, 0.25804447],
       [0.34348157, 0.65651843],
       [0.93957027, 0.06042973],
       [0.54354457, 0.45645543],
       [0.8824696 , 0.1175304 ],
       [0.80435373, 0.19564627],
       [0.16794007, 0.83205993],
       [0.83964125, 0.16035875],
       [0.13592564, 0.86407436],
       [0.80683272, 0.19316728],
       [0.84368527, 0.15631473],
       [0.68532853, 0.31467147],
       [0.30022567, 0.69977433],
       [0.61598303, 0.38401697],
       [0.92130256, 0.07869744],
       [0.55698587, 0.44301413],
       [0.73556512, 0.26443488],
       [0.9087386 , 0.0912614 ],
       [0.60185132, 0.39814868],
       [0.57391239, 0.42608761],
       [0.76425498, 0.23574502],
       [0.8726415 , 0.1273585 ],
       [0.33008719, 0.66991281],
       [0.78452564, 0.21547436],
       [0.91289241, 0.08710759],
       [0.72345538, 0.27654462],
       [0.84546767, 0.15453233],
       [0.36877027, 0.63122973],
       [0.93150204, 0.06849796],
       [0.46279199, 0.53720801],
       [0.49539012, 0.50460988],
       [0.90513311, 0.09486689],
       [0.87943294, 0.12056706],
       [0.86023536, 0.13976464],
       [0.91897461, 0.08102539],
       [0.82860074, 0.17139926],
       [0.67740036, 0.32259964],
       [0.43116039, 0.56883961],
       [0.56865775, 0.43134225],
       [0.60373717, 0.39626283],
       [0.9157409 , 0.0842591 ],
       [0.36670284, 0.63329716],
       [0.81111166, 0.18888834],
       [0.81093692, 0.18906308],
       [0.94340323, 0.05659677],
       [0.57392011, 0.42607989],
       [0.12950747, 0.87049253],
       [0.09712271, 0.90287729],
       [0.81863986, 0.18136014],
       [0.43624961, 0.56375039],
       [0.54861874, 0.45138126],
       [0.88641868, 0.11358132],
       [0.91473955, 0.08526045],
       [0.71596872, 0.28403128],
       [0.89987649, 0.10012351],
       [0.85578666, 0.14421334],
       [0.81089366, 0.18910634],
       [0.88911516, 0.11088484],
       [0.92417695, 0.07582305],
       [0.63259902, 0.36740098],
       [0.21161074, 0.78838926],
       [0.50677855, 0.49322145],
       [0.79747741, 0.20252259],
       [0.71222037, 0.28777963],
       [0.58629002, 0.41370998],
       [0.86008684, 0.13991316],
       [0.79115408, 0.20884592],
       [0.82565834, 0.17434166],
       [0.79724761, 0.20275239],
       [0.84415241, 0.15584759],
       [0.79063481, 0.20936519],
       [0.72203039, 0.27796961],
       [0.1606927 , 0.8393073 ],
       [0.92584505, 0.07415495],
       [0.9213167 , 0.0786833 ],
       [0.83246704, 0.16753296],
       [0.90910534, 0.09089466],
       [0.18373088, 0.81626912],
       [0.89206582, 0.10793418],
       [0.91037111, 0.08962889],
       [0.42279574, 0.57720426],
       [0.7716146 , 0.2283854 ],
       [0.13690141, 0.86309859],
       [0.85424475, 0.14575525],
       [0.09781001, 0.90218999],
       [0.88961027, 0.11038973],
       [0.30360797, 0.69639203],
       [0.68394185, 0.31605815],
       [0.74440084, 0.25559916],
       [0.87698954, 0.12301046],
       [0.38798174, 0.61201826],
       [0.86169429, 0.13830571],
       [0.68203709, 0.31796291],
       [0.66587033, 0.33412967],
       [0.82798754, 0.17201246],
       [0.68749473, 0.31250527],
       [0.1437928 , 0.8562072 ],
       [0.80438324, 0.19561676],
       [0.0543703 , 0.9456297 ],
       [0.48868395, 0.51131605],
       [0.9238654 , 0.0761346 ],
       [0.70278476, 0.29721524],
       [0.87039319, 0.12960681],
       [0.51688118, 0.48311882],
       [0.78956445, 0.21043555],
       [0.36566171, 0.63433829],
       [0.23196449, 0.76803551],
       [0.20157441, 0.79842559],
       [0.56994525, 0.43005475],
       [0.85267357, 0.14732643],
       [0.73808907, 0.26191093],
       [0.73023671, 0.26976329],
       [0.47591868, 0.52408132],
       [0.67106126, 0.32893874],
       [0.88716225, 0.11283775],
       [0.67101291, 0.32898709],
       [0.67958875, 0.32041125],
       [0.65837906, 0.34162094],
       [0.65720418, 0.34279582],
       [0.69430209, 0.30569791],
       [0.7281692 , 0.2718308 ],
       [0.21645513, 0.78354487],
       [0.70308175, 0.29691825],
       [0.3757371 , 0.6242629 ],
       [0.3751067 , 0.6248933 ],
       [0.8915125 , 0.1084875 ],
       [0.50784729, 0.49215271],
       [0.12361116, 0.87638884],
       [0.76364926, 0.23635074],
       [0.91595769, 0.08404231],
       [0.82045164, 0.17954836],
       [0.92500392, 0.07499608],
       [0.27386043, 0.72613957],
       [0.77346   , 0.22654   ],
       [0.30023229, 0.69976771],
       [0.21728323, 0.78271677],
       [0.97131518, 0.02868482]])